@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #F4F9FD;
  min-height: 100vh;
}

.light body{
  background-color: #040413;
}

.text{
  color: #DBDBDB;
}

.dark .text{
  color: #2F2F2F;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #041431;
}
::-webkit-scrollbar-thumb {
  background-color: #3e3e55;
  border-radius: 4px;
}
.dark ::-webkit-scrollbar {
  width: 8px;
}
.dark ::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.dark ::-webkit-scrollbar-thumb {
  background-color: #31313660;
  border-radius: 4px;
}

:root {
  scrollbar-width: thin;
  scrollbar-color: #5d5d8f #eaeef0;
}

.dark :root {
  scrollbar-width: thin;
  scrollbar-color: #141427 #ffffff00;
}

.dark .vulcan-sider {
  scrollbar-color: #36364993 #ffffff00;
}

.vulcan-sider {
  scrollbar-width: none;
  scrollbar-color: #363649 #ffffff00;
}

.vulcan-sider:hover{
  scrollbar-width: thin;
}


.vulcan-sider::-webkit-scrollbar {
  width: 4px;
}
.vulcan-sider::-webkit-scrollbar-track {
  background-color: #ffffff00;
}
.vulcan-sider::-webkit-scrollbar-thumb {
  background-color: #363649;
  border-radius: 5px;
}

.dark .vulcan-sider::-webkit-scrollbar {
  width: 4px;
}
.dark .vulcan-sider::-webkit-scrollbar-track {
  background-color: #ffffff00;
}
.dark .vulcan-sider::-webkit-scrollbar-thumb {
  background-color: #0000003a;
  border-radius: 4px;
}

.ql-background, .ql-header, .ql-color-pickerm, .ql-color, .ql-font, .ql-size{
  display: none!important;
}
.ql-formats {
  margin-right: 0px!important;
}
.ql-toolbar{
  border: 2px solid #E5EFFA!important;
  border-bottom: none!important;
  border-radius: 5px 5px 0px 0px ;
  background-color: white;
}
.light .ql-toolbar{
  background-color: #1D1B39;
  border-color: #1E203B!important;
}
.ql-container {
  background-color: #F0F8FF;
  border: 2px solid #E5EFFA!important;
  border-top: none!important;
  border-radius: 0px 0px 5px 5px;
  min-height: 200px;
  font-size: 14px!important;
}
.bio .ql-container {
  min-height: 100px;
}
.light .ql-container {
  background-color: #020111;
  border-color: #1E203B!important;
}
.ql-editor {
  overflow-wrap: anywhere;
}
.ql-editor p, .ql-editor ol, .ql-editor ul, .ql-editor pre, .ql-editor blockquote, .ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4, .ql-editor h5, .ql-editor h6 {
  word-break: break-all!important;
}

.displayer .ql-editor {
  padding: 0px;
}

.displayer .ql-container {
  border: none!important;
  background: transparent!important;
  min-height: auto!important;
  padding-left: 0px;
}

.displayer .ql-toolbar {
  display: none;
}

.ReactCrop{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ReactCrop__child-wrapper{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.light .toastr{
  background-color: '#141414';
}
.dark .profile-popup{
  border: none!important;
}

@keyframes spin {

  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 1s linear infinite;
}

.introduction video {
  border-radius: 0px 0px 15px 15px!important;
}

.react-player video {
  border-radius: 15px;
}

.preview video {
  border-radius: 10px;
}


.ribbon {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  
  position: absolute;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding: 4px 10px calc(var(--f) + 4px) calc(10px + var(--r));
  clip-path: 
    polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
      var(--r) calc(50% - var(--f)/2));
  /* box-shadow: 0 calc(-1*var(--f)) 0 inset #0005; */
}
